.flex {
    display: flex;
    flex-wrap: lswrap;
    justify-content: center;
}
.places h1 {
    font-size: 30px;
}

.places h2 {
    font-size: 30px;
    text-align: center;
    margin: 0;
}

.places article {
    width: 390px;
    border-radius: 4px;
    margin: 20px;
    padding: 20px;
    border: solid 1px #FF5A5F;
}